* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {

}

body {
	background-color: #FFFFFF;
	font-family: sans-serif;
	font-size: 10pt;
}

img {
	border: none;
}

h1 {
	font-size: 140%;
	font-weight: bold;
	margin: 0.5em;
}

table {
	width: auto;
	border: none;
}

video {
	display: block;
	width: 100%;
	height: auto;
	background: black;
}
video::-webkit-media-controls {
	display:none !important;
}

ul, ol {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	display: block;
	margin: 0;
	padding: 0;
	padding-bottom: 0.25em;
}

input {
	display: inline-block;
	width: 15em;
	margin: 0.25em;
}

label {
	display: inline-block;
	width: 10em;
}

.box {
	margin: 0.5em;
	padding: 0.25em;
	background: #FFFFFF;
	border: 1px solid black;
	border-radius: 0.5em;
}

#login {
	width: 30em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#container {
	width: 100%;
	max-width: 60em;
	margin-right: auto;
	margin-left: auto;
}

#files img {
	display: inline-block;
}

#files table {
	width: 100%;
}

#files tr {
	height: 2em;
	white-space: nowrap;
}

#files td.icon {
	width: 2em;
	text-align: center;
}

#files td.name {
	max-width: 20em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

#files td.actions {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

#files td.actions img {
	margin-left: 0.25em;
	margin-right: 0.25em;
}

#player {
	width: 100%;
	height: auto;
}
#player .command {
	margin: 0.25em;
}

#timer {
	font-family: monospace;
}

#player #command {
	padding: 0.25em;
}

#player #command img {
	display: inline-block;
	vertical-align: middle;
}


#player #progress {
	border: 1px solid black;
	border-left: none;
	border-right: none;
}

#player #progressbar {
	border-right: 1px solid black;
	background: #505050;
	background: linear-gradient(#808080, #505050);
	width: 0;
	height: 1.25em;
}

.even	{
	background: #FFFFFF;
}

.odd	{
	background: #E0E0E0;
}
