* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {

}

body {
	background-color: #FFFFFF;
	font-family: sans-serif;
	font-size: 10pt;
}

img {
	border: none;
}

h1 {
	font-size: 140%;
	font-weight: bold;
	margin: 0.5em;
}

h1 img {
	max-height: 32px;
	vertical-align: middle;
	margin-right: 0.5em;
}

table {
	width: auto;
	border: none;
}

video {
	display: block;
	width: 100%;
	height: auto;
	background: black;
}

video::-webkit-media-controls {
	display:none !important;
}

ul, ol {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	display: block;
	margin: 0;
	padding: 0;
	padding-bottom: 0.25em;
}

form {
	display: inline-block;
}

input {
	display: inline-block;
	width: 15em;
	height: 2.5em;
	margin: 0.5em 0.25em;
	padding: 0.25em 0.25em;
}

label {
	display: inline-block;
	width: 10em;
	margin: 0.5em 0.25em;
}

.box {
	margin: 0.25em;
	padding: 0.25em;
	background: #FFFFFF;
	border: 1px solid #F0F0F0;
	border-radius: 3px;
}

#logo img {
	display: block;
	margin: 1em auto 1em auto;
	max-width: 100%;
}

#login {
	width: 30em;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	text-align: center;
}

#content {
	width: 100%;
	/* max-width: 80em; */
	margin-right: auto;
	margin-left: auto;
}

#tools input {
	width: 8em;
}

#files img {
	display: inline-block;
}

#files table {
	width: 100%;
}

#files tr {
	height: 2em;
	white-space: nowrap;
}

#files td.icon {
	width: 2em;
	text-align: center;
}

#files td.name {
	max-width: 18em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

#files td.actions {
	width: 6em;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

#files td.actions img {
	margin-left: 0.25em;
	margin-right: 0.25em;
}

#link {
	margin: 1em;
	font-size: 125%;
	text-align: center;
	line-height: 1.5em;
}

#link a {

}

#player {
	width: 100%;
	height: auto;
}

#player video {
	cursor: pointer;
}

#timer {
	font-family: monospace;
}

#player #command {
	padding: 0.25em;
}

#player #command img {
	display: inline-block;
	vertical-align: middle;
}

#player #progress {
	border: 1px solid black;
	border-left: none;
	border-right: none;
	cursor: pointer;
}

#player #progressbar {
	border-right: 1px solid black;
	background: #505050;
	background: linear-gradient(#808080, #505050);
	width: 0;
	height: 1.2em;
}

#player #playbutton {
   cursor: pointer;
}

.even	{
	background: #FFFFFF;
}

.odd	{
	background: #E0E0E0;
}
