{% extends "base.html" %}
{% block title %}{{ path }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
  <h1><a href=".."><img src="{{ url_for('static', filename='back.png') }}" alt="back"></a>{{ path }}</h1>
  {% if writable %}
  <div id="tools" class="box">
    <form id="uploadform" action="#" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input id="uploadbutton" type="submit" value="Upload">
    </form>
    <form id="createform" action="#" method="post" enctype="multipart/form-data">
      <input type="hidden" name="operation" value="create">
      <input type="text" name="argument" value="">
      <input id="createbutton" type="submit" value="Create">
    </form>
    <form id="operationform" action="#" method="post" enctype="multipart/form-data">
      <input type="hidden" name="operation" value="">
      <input type="hidden" name="argument" value="">
    </form>
    <script>
      var uploadForm = document.getElementById("uploadform");
      var uploadButton = document.getElementById("uploadbutton");
      var fileChooser = uploadForm.elements['file'];
      fileChooser.style.display = 'none';
      fileChooser.onchange = function() {
        uploadForm.submit();
      };
      uploadButton.type = 'button';
      uploadButton.onclick = function() {
        fileChooser.click();
      };
      var createForm = document.getElementById("createform");
      var createButton = document.getElementById('createbutton');
      createForm.elements['argument'].style.display = 'none';
      createButton.type = 'button';
      createButton.onclick = function() {
        var name = prompt("New directory name:", "");
	if(name) {
	  createForm.elements['argument'].value = name;
	  createForm.submit();
	}
      };
      function postOperation(operation, argument) {
        var form = document.getElementById("operationform");
        form.elements['operation'].value = operation;
        form.elements['argument'].value = argument;
        form.submit();
      }
      function deleteFile(filename) {
        if(confirm("Delete '"+filename+"' ?")) {
          postOperation('delete', filename);
        }
      }
    </script>
  </div>
  {% endif %}
  <div id="files" class="box">
    <table>
    {% for file in files %}
      <tr class="{{ loop.cycle('odd', 'even') }}">
        <td class="icon"><img src="{{ url_for('static', filename=('icons/directory.png' if file.isdir else 'icons/file.png')) }}"></td>
        <td class="name"><a href="{{ url_quote(file.name) + ('?play' if file.isvideo else '') }}">{{ file.name }}</a></td>
        <td class="actions"><a href="{{ url_quote(file.name) + '?download' }}"><img src="{{ url_for('static', filename='icons/download.png') }}"></a><a href="{{ file.name + '?link' }}"><img src="{{ url_for('static', filename='icons/link.png') }}"></a>{% if file.writable %}<a href="#" onclick="deleteFile('{{file.name}}'); return false;"><img src="{{ url_for('static', filename='icons/delete.png') }}"></a>{% endif %}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}
