{% extends "base.html" %}
{% block title %}Swamp{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
  <h1>Player</h1>
  <div id="player">
  <video id="video"></video>
  <div class="progress"><div class="progressbar"></div></div>
  <div class="command"><span id="timer"></span> - <a href="#" onclick="requestFullscreen();return false;">Fullscreen</a> - <a href="{{ downloadLocation }}">Download</a><span id="castlinks"></span></div>
  </div>
  <script src="{{ url_for('static', filename='player.js') }}"></script>
  <script>
  window.onload = function() {
  	scalePlayer();
    loadVideo("{{ videoLocation }}", {{ videoTime }});
    {% if isLocal %}
  	requestCastLinks();
    {% endif %}
  }
  </script>
{% endblock %}
