{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
  <h1>{{ title }}</h1>
  <div id="player">
  <video id="video"></video>
  <div id="progress"><div id="progressbar"></div></div>
  <div id="command"><span id="playinfo"><img id="playbutton" src="{{ url_for('static', filename='icons/play.png') }}">&nbsp;<span id="timer"></span> - <a href="{{ downloadLocation }}">Download</a><span id="castlinks"></span></div>
  </div>
  <script src="{{ url_for('static', filename='player.js') }}"></script>
  <script>
  window.onload = function() {
  	scalePlayer();
    loadVideo("{{ videoLocation }}", {{ videoTime }});
    {% if isLocal %}
  	requestCastLinks();
    {% endif %}
  }
  </script>
{% endblock %}
